.venv*
venv
.env
*.pyc
*.swp
__pycache__
.DS_Store
work
context

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

*.pyc
# Ignore egg-info directory
**egg-info/

# Ignore all files within egg-info directory
**egg-info/*

outs/*
*.npz
*.faiss
*.json
*.arrow
!babydragon/chat/prompts/perspective_prompts.jsons
