beautifulsoup4
cohere
datasets
hdbscan
html5lib
IPython
libcst
markdown
numba
numpy
openai
pandas
polars
pre_commit
pydantic
PyGithub
python_minifier
requests
scikit-learn
scipy
sentence-transformers
sphinx
tiktoken
torch
umap
